:root {
  --font-family-1: "Montserrat", sans-serif;
  --font-family-2: "Nabla", sans-serif;
  --font-family-3: "Roboto", sans-serif;
  --background-color-1: black;
  --background-color-2: white;
  --text-color-1: #eee;
  --text-color-2: #000;
  --text-color-3: yellow;
}

body {
  background-color: var(--background-color-1);
  color: var(--text-color-1);
  font-family: var(--font-family-1);
  display: flex;
  background-color: var(--background-color-2);
}

header {
  position: sticky;
  top: 0;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: var(--background-color-1);
  width: 100%;
  height: 25%;
  z-index: 200;
  padding: 1.5rem;
}
